.info_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .info_container .header {
    width: 90%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
  }
  
 .info_container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
  }
    
 .info_container .text {
    margin-top: 10px;
    width: 493px;
    text-align: center;
    color: #000000; 
    z-index: 1;
  }
 .info_container .text h1{
    font-family:  'Public Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
 .info_container .text p{
    font-family: Public Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #757575;
    margin-top: 10px;
  }
  .userform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
  .info_container .input_field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 420px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #757575;
    margin-top: 0;
  }
  .input_field img{
    margin-left: 10px;
  }
  .userform input{
    outline: none;
    border: none;
    width: 100%;
    gap: 8px;
  }
  .PhoneInput .PhoneInputCountryIconImg {
    /* display: none; */
    margin-right: 200px;
  }
  .PhoneInput .PhoneInputCountryIcon--border {
    background-color: transparent;
    box-shadow: none;
  }
  .PhoneInput .PhoneInputInternationalIconGlobe{
    display: none;
  }
 .info_container .footer{
    margin-top: 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.info_container  .footer button{
  padding: 12px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #ff5c5c;
  color: #fafafa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  }

  .PhoneInputCountrySelectArrow{
    margin-left: 10px !important
  }

  @media screen and (max-width:580px) {
    .info_container .text h1{
      font-family: Public Sans;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
    }
    .info_container .text img{
      width: 32px;
      height: 32px;
    }
    .info_container .text p{
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
    }
    .info_container .input_field{
      width: 320px;
      height: 40px;
    }
  }