/* YourStyleSheet.css */

/* Overall container */
.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  /* Header styles */
  .header {
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  
  .header .logo {
    cursor: pointer;
  }
  
  
  /* Content styles */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 30px; */
  }
  
  .backgroundImage {
    /* Set background image here */
    background-image: url("/image 6.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  
  .text {
    margin-top: 100px;
    width: 493px;
    text-align: center;
    color: #000000; /* Adjust text color for readability */
    z-index: 1;
  }
  .text h1 {
    font-family: "Public Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    color:#424242
  }
  .text p {
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
  }
  .footer {
    margin-top: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer p {
    margin-top: 10px;
    font-family: "Public Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer button {
    width: 291px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ff5c5c;
    color: #fafafa;
    border: none;
  }
  
  .footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
  }
  
  .footer > div img {
    width: 140px;
  }
  
  .footer > div span {
    color: #616161;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .button_type_01 {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    border: 1px solid #424242;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .button_type_01:hover {
    border-color: #646cff;
  }
  
  /* Style your text, headings, and buttons here */
  /* Media Queries */
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 15px 0;
    }
  
    .text {
      max-width: 90%;
    }

    .content{
        margin-top: 50px;
    }
  }
  
  @media screen and (max-width: 580px) {
    .header {
      padding: 10px 0;
      width: 90%;
      justify-content: space-between;
    }
    .header button {
      justify-content: center;
      align-items: center;
      width: 147px;
      height: 36px;
      padding: 8px 16px 8px 16px;
      border-radius: 4px;
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
    .header button > img {
      width: 15px;
      height: 15px;
    }
  
    .button_type_01{
      font-size: 14px;
    }
  
    .backgroundImage {
      background-size: contain;
      height: 30vh;
      margin-top: 100px;
      top: auto;
      transform: scale(1.3);
      left: auto;
    }
  
    .container {
      overflow-x: hidden;
      width: 100vw;
    }
  
    .text {
      /* Further modifications for smaller screens */
      margin-top: 20px;
      max-width: 293px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* Adjust other styles as needed */
    }
    .text h1 {
      font-family: Public Sans;
      font-size: 29px;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center;
    }
    .text p {
      margin-top: 0px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      width: 272px;
    }
    .footer {
      margin-top: 30px;
    }
    .footer button {
      /* Further modifications for smaller screens */
      width: 291px;
      height: 48px;
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      /* Adjust other styles as needed */
    }
  }